.form-check {
    max-width: 900px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
}


body{
    background-color: rgb(185, 106, 8);
}