body {
    background-color: #006172;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* FOOTER */
footer {
    margin-top: 50px;
}

footer h5 {
    margin-bottom: 15px;
}

footer a {
    transition: 0.3s;
}

footer a:hover {
    color: #0d6efd; /* azul bootstrap */
}